#auth-option(style="display:none")
  #sign-up
    %h1 Sign Up
    %form{ action: url("/users"), method: 'POST' }
      .row
        %label Email
        %input(name='user[email]')
      .row.submit
        %input(type='submit')
  #log-in
    %h1 Log In
    %form{ action: url("/users/sessions"), method: 'POST' }
      .row
        %label Code
        %input(name='user[auth_code]')
      .row.submit
        %input(type='submit')
#interface(style="display:none")
  %h1 Storylines
  #feed
%pre#debug
